.navbar {
    position: fixed;
    background-color: aqua;
    height: 50px;
    width: 98vw;
    margin: 10px;
}
.links {
    font-weight: bold;
    float: right;
    vertical-align: center;
    margin: 7px;
    text-decoration: none;
}