.navbar {
    position: fixed;
    height: 50px;
    width: 98vw;
    margin: 10px;
}
.links {
    color: aqua;
    height: 38px;
    font-weight: bold;
    float: right;
    vertical-align: center;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 12px;
}
.links:hover {
    background-color: aqua; 
    color: #282c34;
}